@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Nunito+Sans&display=swap');

body {
	font-family: Nunito Sans;
	font-size: 16px;
	line-height: 1.5;

	background-color: #111118;
	color: #fff;
	margin: 80px auto 48px auto;
	width: 1120px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1, nav, footer {
  font-family: Josefin Sans;
	font-size: 40px;
	font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 32px;
  transition: color 0.3s;
}

a:hover {
  color: #F4BCBB;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 32px 32px;
  /* background-color: grey; */
}

section h1 {
  grid-column: 2 / span 10;
  text-align: center;
  line-height: 1.2;
}

footer a {
  /* overwriting 'a' margin to align the footer in the middle */
  margin: 0 16px;
}
